<mat-drawer-container class="example-container" autosize>

  <mat-toolbar color="primary">
    <button type="button" mat-button (click)="drawer.toggle()" (click)="showBotton = !showBotton">
      <span *ngIf="showBotton" class="material-icons">menu</span>
      <span *ngIf="!showBotton" class="material-icons">close</span>
    </button>
    <h3>Tem3Dshop</h3>
  </mat-toolbar>


  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h2>Tem3Dshop</h2>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Categorias
      </mat-expansion-panel-header>
    
      <ng-template matExpansionPanelContent>
        <p>Arte</p>
        <p>Moda</p>
        <p>Joyas</p>
      </ng-template>
    </mat-expansion-panel>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>


