<body>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Model STL</mat-card-title>
      <mat-card-subtitle>Model</mat-card-subtitle>
    </mat-card-header>
    <!-- three js -->
    <div class="engine-wrapper">
        <canvas #rendererCanvas id="renderCanvas"></canvas>
    </div>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Model STL</mat-card-title>
      <mat-card-subtitle>Model</mat-card-subtitle>
    </mat-card-header>
    <!-- three js -->
    <div class="engine-wrapper">
        <canvas #rendererCanvas2 id="renderCanvas2"></canvas>
    </div>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </mat-card-content>
  </mat-card>

</body>